<p id="notice"><%= notice %></p>
Hi, there! Welcome to 321Media. 

<h3>What would you like in your channel?</h3>
<%= form_tag '/items', :method => 'get' do %>
  <%= select_tag "interest", options_from_collection_for_select(@interests, "id", "name"), :prompt => "Select an interest" %>
  <%= select_tag "location", options_from_collection_for_select(@locations, "id", "name"), :prompt => "Select a location" %><hr>
  <%= submit_tag 'Get my channel' %>
<% end %>
